.dashboardProductBox {
  background-color: #fff;
  padding: 2rem;
  overflow: auto;
  @include square(100%);
  height: 100vh;
}
.createProductButton {
  position: fixed;
  right: 2rem;
  top: 2rem;
  @include square(2.5rem);
  @include flex(row, center, center, 0);
  border-radius: 50%;
  background-color: rgb(201, 9, 9);
  color: #fff;
  &:hover {
    opacity: 0.8;
  }
}

.newProductManagement {
  @include flex(row, center, center, unset);
  gap: 10px;

  > section {
    overflow: none;
    width: 100%;
    height: 94vh;
    max-height: 96vh;
    max-width: 500px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.216);
    background-color: #fff;
    padding: 2rem;
    @include flex(column, unset, unset, 1rem);
    position: relative;
    border-radius: 10px;

    > h2 {
      @include heading;
      text-align: center;
    }

    > img {
      @include square(100%);
      object-fit: cover;
    }

    > strong {
      font-weight: 300;
    }

    > span {
      position: absolute;
      right: 2rem;
      top: 2rem;
    }

    > p {
      text-align: center;
      letter-spacing: 2px;
      text-transform: uppercase;
    }

    > h3 {
      text-align: center;
    }

    > textarea {
      outline: none;
      border: none;
      text-decoration: none;
      background-color: transparent;
    }
  }

  > article {
    height: 94vh;
    max-height: 96vh;
    padding: 2rem;
    width: 100%;
    max-width: 550px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.216);

    > form {
      @include flex(column, unset, center, 2.3rem);
      > h2 {
        @include heading;
      }

      > img {
        @include square(5rem);
        object-fit: cover;
        border-radius: 5px;
      }

      > div {
        width: 100%;
        position: relative;

        > label {
          position: absolute;
          left: 0;
          top: -2rem;
          font-size: 1.2rem;
        }

        > textarea {
          width: 100%;
          max-width: 100%;
          padding: 0.5rem;
        }

        > input {
          padding: 0.5rem;
          border: 1px solid rgba(13, 13, 13, 0.196);
          @include inputStyle(
            100%,
            1rem,
            unset,
            1px solid rgba(13, 13, 13, 0.196)
          );

          border-radius: 5px;
        }
      }
    }
  }

  .shippingCardInfo {
    > h1 {
      text-align: center;
      @include heading(2px);
    }

    > h5 {
      margin: 2rem 0 0 0.5rem;
      font-size: 1.1rem;
      font-weight: 700;
    }

    > p {
      margin: 0.5rem;
    }

    > button {
      @include button(0.7rem, 5px, none, none);
      border: 1px solid rgb(15, 117, 224);
      background-color: rgb(15, 117, 224);
      color: #fff;
      &:hover {
        border: 1px solid rgb(15, 117, 224);
        background-color: transparent;
        color: rgb(15, 117, 224);
        transition: all ease 0.3s;
      }
    }
  }
}

.photoShow {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "selectPhoto showPhoto "
    "selectPhoto showPhoto ";
  > div {
    width: 100%;
    position: relative;

    > label {
      position: absolute;
      left: 0;
      top: -2rem;
      font-size: 1.2rem;
    }

    > input {
      padding: 0.5rem;
      border: 1px solid rgba(13, 13, 13, 0.196);
      @include inputStyle(100%, 1rem, unset, 1px solid rgba(13, 13, 13, 0.196));

      border-radius: 5px;
    }
  }
}

.selectPhoto {
  position: absolute;
  grid-area: selectPhoto;
}
.showPhoto {
  position: absolute;
  right: 0;
  grid-area: showPhoto;
  width: 10vw;
  height: 10vw;
  max-width: 100vw;
  max-height: 100vw;
}

.submitbtn {
  @include button(1rem, 5px, none, none);
  background-color: rgba(15, 117, 224);
  color: #fff;
  width: 30%;
  margin-top: 100px;
  border: 2px solid #fff;
  &:hover {
    background-color: #fff;
    color: rgba(15, 117, 224);
    border: 2px solid rgba(15, 117, 224);
    transition: all ease-out 0.2s;
  }
}

.transactionProductCard {
  @include flex(row, unset, center, 1rem);

  > img {
    @include square(4rem);
    object-fit: cover;
    border-radius: 5px;
  }

  > span {
    margin-left: auto;
  }
}
