$color1: rgb(255, 255, 255);
$color2: rgb(46, 46, 46);
$color3: rgb(0, 104, 136);
$color4: rgb(255, 0, 0);

.home {
  padding: 1rem 4rem;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 4rem);
  width: 100%;

  > section {
    width: 100%;
    height: 10rem;
    margin: auto;
    background: url("../assets/Wood\ perfume.jpeg") no-repeat bottom / cover;
  }

  > h1 {
    @include heading(1px);
    margin-top: 0.5rem;
    @include flex(row, space-between, center);
  }

  .findMore {
    font-size: 1rem;
  }

  > main {
    width: 100%;
    flex: 1;
    display: flex;
    gap: 1rem;
    overflow-x: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.productCard {
  height: 20rem;
  width: 18rem;
  //   padding: 1rem;
  flex: none;
  @include flex(column, flex-start, center, 4px);
  border-radius: 0.625rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  cursor: pointer;
  position: relative;
  border-radius: 10px;

  &:hover > div {
    opacity: 1;
  }

  img {
    object-fit: cover;
    margin: 1rem;
    border-radius: 10px;
  }

  span {
    font-weight: 700;
    font-size: 1.1rem;
  }

  > div {
    position: absolute;
    @include square(100%);
    top: 0;
    left: 0;
    background-color: #3434357c;
    opacity: 0;
    border-radius: 10px;
    @include flex;

    button {
      @include flex;
      @include square(3rem);
      border-radius: 100%;
      border: none;
      background-color: $color3;
      cursor: pointer;
      color: $color1;
      font-size: 1.1rem;
      transition: all 0.3s;

      &:hover {
        rotate: 180deg;
        scale: 1.3;
      }
    }
  }
}
