@media screen and (width <= 1200px) {
  .dashboard-container {
    padding: 10px;
    overflow: auto;
  }

  .dashboard {
    .widgetContainer {
      justify-content: center;
      padding: 2rem;
      flex-wrap: wrap;
    }

    .graphContainer {
      justify-content: center;
      padding: 2rem;
      flex-wrap: wrap;
    }

    .transactionContainer {
      justify-content: center;
      padding: 2rem;
      flex-wrap: wrap;
      width: 100%;
    }
  }
}
@media screen and (width <= 1100px) {
  .adminContainer {
    grid-template-columns: 1fr !important;
  }
}

@media screen and (width <= 700px) {
  .newProductManagement {
    flex-direction: column;
    align-items: center;
    padding: 0;

    > section {
      width: 100%;
      height: 50vh;
    }
    > article {
      width: 100%;
      height: 50vh;
    }
  }
}
