.shippingAddressContainer {
  @include flex(flex, center, center, none);
  position: relative;

  .backToArrow {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -3rem;
    left: 1rem;
    border: none;
    background-color: #000000;
    font-size: 1.1rem;
    padding: 1rem;
    border-radius: 100%;
    color: #ffffff;
    cursor: pointer;
    > svg {
      transition: all 0.2s ease;
    }

    &:hover > svg {
      translate: -0.5rem;
    }
  }

  form {
    @include flex(column, center, stretch, 2rem);
    max-width: 450px;
    width: 100%;
    padding: 2rem;

    > h1 {
      @include heading(1.5rem);
    }

    > input,
    > select {
      @include flex(column, center, center, 1.5rem);
      padding: 0.7rem;
      border-radius: 10px;
      outline: none;
    }

    > select {
      cursor: pointer;
    }

    > button {
      padding: 1rem;
      border: none;
      background-color: #000000;
      color: #ffffff;
      font-size: 1.2rem;
      border-radius: 10px;
      cursor: pointer;
      transition: all 0.3s ease;
      &:hover {
        border: 1px solid #000000;
        background-color: transparent;
        color: #000000;
      }
      &:active {
        transform: scale(0.89);
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
      }
    }
  }
}
