:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "admin/mixin";

@import "home";
@import "cart";
@import "shipping";
@import "admin/dashboard";
@import "admin/products";
@import "admin/dashboardapp";
@import "admin/mediaquery";
a {
  text-decoration: none;
  color: black;
}

.red {
  color: red;
}

body {
  user-select: none;
}

$color1: rgb(255, 255, 255);
$color2: rgb(46, 46, 46);
$color3: rgb(0, 104, 136);
$color4: rgb(255, 0, 0);

.purple {
  color: rgb(47, 0, 255);
}
.green {
  color: rgb(0, 195, 0);
}

.header {
  @include flex(row, flex-end, stretch, 1.2rem);
  padding: 1rem 2rem;
  > a {
    color: $color2;
    letter-spacing: 2rem;
    font-size: 1.2rem;
    &:hover {
      opacity: 0.7;
      scale: 1.5;
      transition: all 0.2s ease;
      color: $color3;
    }
  }

  > button {
    border: none;
    font-size: 1.2rem;
    background-color: transparent;
    cursor: pointer;
    &:hover {
      opacity: 0.7;
      scale: 1.3;
      transition: all 0.2s ease;
      color: $color3;
    }
  }

  > dialog {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 1rem;
    width: 100px;
    position: absolute;
    left: calc(100% - 100px);
    top: 8%;

    > div {
      @include flex(column, center, center, 1rem);

      > a {
        color: $color2;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        font-size: 1rem;
        &:hover {
          opacity: 0.7;
          scale: 1.2;
          transition: all 0.2s ease;
          color: $color3;
        }
        &:hover:last-child {
          color: $color4;
        }
      }
    }
  }
}

// Admin Dashboard Styles
.adminContainer {
  @include grid(1fr 4fr, 2rem);
  height: 100vh;
  background-color: rgb(247, 247, 247);
  > aside {
    width: 100%;
    background-color: #fff;
    padding: 1rem;
    z-index: 10;
    overflow-y: none;
    &::-webkit-scrollbar {
      display: none;
    }
    > div {
      margin: 1rem 1rem;
      > h5 {
        @include heading(2px);
        opacity: 0.8;
        margin: 1rem 0;
      }

      ul {
        @include flex(column, unset, unset, 0.5rem);
        list-style-type: none;

        > li {
          padding: 0.5rem;
          border-radius: 10px;

          a {
            color: rgba(0, 0, 0, 0.825);
            @include flex(row, unset);
          }
        }
      }
    }
  }
}

// Common Table Styles
.table {
  border-collapse: collapse;
  width: 100%;

  th,
  td {
    padding: 8px;
    text-align: left;
    vertical-align: middle;
  }

  th {
    color: #0000009e;
    font-size: 1.1rem;
    font-weight: 400;
    padding: 2rem 1rem;
  }

  tbody {
    tr {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.093);
    }

    td {
      padding: 1rem;

      img {
        width: 4rem;
        height: 4rem;
        object-fit: contain;
        border-radius: 10px;
      }

      a {
        text-decoration: none;
        background-color: rgba(44, 104, 255, 0.455);
        color: rgba(44, 104, 255);
        padding: 0.25rem 0.5rem;
        border-radius: 10px;
      }

      button {
        @include square(2rem);
        @include button(1rem, none, none, 10px);
        font-size: 1.1rem;
        background-color: transparent;
        color: rgb(255, 44, 44);
        &:hover {
          opacity: 0.6;
        }
      }

      &:first-child {
        border-left: none;
      }

      &:last-child {
        border-right: none;
      }
    }
  }
}

// Pagination Styles
.tablePagination {
  @include flex;
  padding: 1rem;
  > button {
    @include button(0.7rem, 10px, none, none);
    &:disabled {
      background-color: rgba(0, 115, 255, 0.1);
      cursor: not-allowed;
    }
  }
}

// .header {
//   color: #111;
//   font-size: 3rem;
// }
